<div class="row features">
  <div class="large-8 medium-10 small-12 column feature-main">
    <img alt="" src="http://p-fst2.pixstatic.com/555a2ea02a099a1ae3007f0c/_w.1490_h.932_s.centercrop_/James-and-Shanna-Midcentury-Modern-Bungalow-Durham-NC-8603.jpg">
    <div class="feature-main-text"><h1>James & Shanna's Mid-Mod Bangalow</h1></div>
  </div>
  <div class="large-4 medium-4 small-6 column feature-sides">
    <img alt="" src="http://p-fst1.pixstatic.com/55843547697ab014ff00c330/_w.348_h.262_s.centercrop_/8ECC2B83-217D-4916-906E-C48EB0819EB1.png">
  </div>
  <div class="large-4 medium-4 small-6 column feature-sides">
    <img alt="" src="http://p-fst1.pixstatic.com/506b36c674c5b64b1d001467._w.348_h.262_s.centercrop_.jpg" class="hoverZoomLink">
  </div>
</div>
