p,h1,h2,h3,h4,a,ul,li {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

body {
  width:100%;
  >main {
    width: 100%;
    padding: 0 0;
    >.row .features{
      width:100%;
    }
  }
}
