// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row.form {
  margin-top: 10px;
  padding: 2% 0%;
  width:80%;
  max-width: 100%;
  float: none;
  background-color: white;
}
.post-list {
text-align:left;
padding: 2% 10%;
}

.row.posts{
  float:none;
  width:100%;
  margin-top: 10px;
  max-width: 100%;

    > .column > .post {
      text-align: left;
      padding: 2% 10%;
      background-color: white;

      border-left: 1px solid;
      border-right: 1px solid;
      border-color: #DDD;
    }
  }

  .side-nav {
    // border-top: 1px solid;
    margin-top: 5%;
    padding: 2% 2%;
    >h1 {
      float:left;
    }
    >ul {
      margin-left: 0;
      > li{
        list-style:none;
        width:100%;
        font-size: 14px;
        font-weight:300;
        color:#DD4814;
        &:hover {
          // background-color: #EEA389;
          // color: #333;
        }
      }
    @media only screen and (max-width: 480px) {

            padding: 1% 5%;
            width:100%;
            > li {
              display: inline;
              font-size: 18px;
              padding-left: 5px;
              padding-bottom: 5px;
              &:hover {
                background-color: transparent;
                border-bottom: 1px solid #DD4814;
              }
            }
      }
    }
  }


.row.author {
     border-bottom: 1px solid;
     border-color: #DDD;
     padding: 2% 5%;
      > .column > .avatar {
        border-radius: 50%;
        border-style: solid;
        border-color: #EEA389;
        height: 100px;
        width:100px;
      }
}

